
<script>
  $(document).ready(function()
  {
  	$("#Customer_SignIn").validate({
		debug: true,
		errorClass: "my-error-class",
   		validClass: "my-valid-class",
		rules: 
		{
			UserName: {required: true },
			Password: {required: true}
		},
		messages: {
			UserName: { required: "Please enter a username" },
			Password: { required: "Please enter a password" }
		},
		submitHandler : function(form)
		{
			form.submit();
		}//,
		// // the errorPlacement has to take the table layout into account
		// errorPlacement: function(error, element) {
				// if (element.is(":radio"))
					// error.appendTo(element.parent().next().next());
				// else if (element.is(":checkbox"))
					// error.appendTo(element.next());
				// else
					// error.appendTo(element.parent());
					// //error.appendTo(element.parent().next());
			// },
		// success: function(label) {
				// // set &nbsp; as text for IE
				// label.html("&nbsp;").addClass("checked");
			// },
			// highlight: function(element, errorClass) {
				// //alert('highlight');
				// //$(element).parent().next().find("." + errorClass).removeClass("checked");
				// $(element).parent().find("." + errorClass).removeClass("checked");
			// }
			
	});

	
  	$("#new_customer").validate({
		debug: true,
		errorClass: "my-error-class",
   		validClass: "my-valid-class",
		rules: 
		{
			"customer[email]": {required: true, email: true, remote: "/customers/verify" },
			"customer[FirstName]":{required: true},
			"customer[LastName]":{required: true},
			"customer[Country_id]":{required: true},
			txtPassword: { minlength : 5 },
			txtConfirmPassword: { equalTo: "#txtPassword",
								  minlength : 5
								}
		},
		messages: {
		"customer[email]": {
					required: "Please enter a valid email address",
					minlength: "Please enter a valid email address",
					remote: "Email already exists"
			},
		"customer[FirstName]": { required: "Please enter first name"},
		"customer[LastName]":  { required: "Please enter last name"},
		"customer[Country_id]":  { required: "Please choose the country"},
		"txtPassword": {required: "Please enter the password"},
		"txtConfirmPassword": { required: "Please enter the password",
								equalTo: "Please confirm the password by entering the same"}
		},
		submitHandler : function(form)
		{
			form.submit();
		}//,
		// // the errorPlacement has to take the table layout into account
		// errorPlacement: function(error, element) {
				// if (element.is(":radio"))
					// error.appendTo(element.parent().next().next());
				// else if (element.is(":checkbox"))
					// error.appendTo(element.next());
				// else
					// error.appendTo(element.parent());
					// //error.appendTo(element.parent().next());
			// },
		// success: function(label) {
				// // set &nbsp; as text for IE
				// label.html("&nbsp;").addClass("checked");
			// },
			// highlight: function(element, errorClass) {
				// //alert('highlight');
				// //$(element).parent().next().find("." + errorClass).removeClass("checked");
				// $(element).parent().find("." + errorClass).removeClass("checked");
			// }
			
	});
	});
  </script>
		<div class="row padding7em">
	<div class="col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
	<p class="unlockHeader">New User Registration</p>
	</div>
	<div class="col-md-offset-2 col-lg-offset-2 col-md-4 col-lg-4">
	<p class="unlockHeader">Sign In Existing User</p>
	</div>
</div>
<div class="row padding1em">	
	<!-- first column -->
	<%= form_for(@customer) do |p| %>
	<div class="col-md-6 col-lg-6">
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :email, :placeholder=>'Email',:tabindex=>"1", :required=> true, :autofocus=>true, :class=>'form-control input-lg' %>
			</div>	
		</div>			
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :FirstName, :placeholder=>'First Name', :title=>'Title name should not be blank',:tabindex=>"2", :required=> true, :autofocus=>true, :class=>'form-control input-lg' %>
			</div>
		</div>		
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :LastName, :placeholder=>'Last Name', :required=> true, :autofocus=>true,:tabindex=>"3", :class=>'form-control input-lg' %>
			</div>
		</div>		
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= collection_select("customer","Country_id",@countries,:id,:name,{ :prompt=>'Select Country'},{:class=>"form-control input-lg",:tabindex=>"4",:required=>true})%>
			</div>
		</div>
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" id="txtPassword" name="txtPassword" type="password" tabindex="4" required="required"  placeholder="Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" id="txtConfirmPassword" name="txtConfirmPassword" type="password" tabindex="5" required="required"  placeholder="Confirm Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-7 col-lg-offset-7 col-md-3 col-lg-3">
				<button type="submit" name="butSignUp" tabindex="6" class="form-control btn btn-primary input-lg">Sign Up</button>
			</div>
		</div>	
	</div>
	<% end %>
	<!-- second column -->
	<%= form_tag({:controller => 'customers',:action => "signin",:method=>"post"},:id=>"Customer_SignIn") do %>
	<div class="col-md-6 col-lg-6">
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<% if flash[:notice] %>
  				<p id="notice" class="error" ><%= flash[:notice] %></p>
				<% end %>
			</div>	
		</div>	

		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" id="UserName" name="UserName" tabindex="7" type="text" required="required"  placeholder="User Name">
			</div>	
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" id="Password" name="Password" type="password" tabindex="8" required="required"  placeholder="Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-7 col-lg-offset-7 col-md-3 col-lg-3">
				<button type="submit" name="butSignin" tabindex="8" class="form-control btn btn-primary input-lg">Sign In</button>
			</div>
		</div>
	</div>
	<% end %>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57178125-1', 'auto');
  ga('send', 'pageview');

</script>
