
<script>
  // $(document).ready(function()
  // {
  	// $("#new_customer").validate({
		// debug: true,
		// rules: 
		// {
			// "customer[email]": {required: true, email: true},
			// "customer[FirstName]":{required: true}
		// },
		// messages: {
		// "customer[email]": {
					// required: "Please enter a valid email address",
					// minlength: "Please enter a valid email address"
			// },
		// "customer[FirstName]": { required: "Please enter first name"}
		// }
// 			
	// });
	// });
  </script>
		<div class="row padding7em">
	<div class="col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
	<p class="unlockHeader">New User Registration</p>
	</div>
	<div class="col-md-offset-2 col-lg-offset-2 col-md-4 col-lg-4">
	<p class="unlockHeader">Sign In Existing User</p>
	</div>
</div>
<div class="row padding1em">	
	<!-- first column -->
	<%= form_for(@customer) do |p| %>
	<div class="col-md-6 col-lg-6">
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :email, :placeholder=>'Email',:tabindex=>"1", :required=> true, :autofocus=>true, :class=>'form-control input-lg' %>
			</div>	
		</div>			
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :FirstName, :placeholder=>'First Name', :title=>'Title name should not be blank',:tabindex=>"2", :required=> true, :autofocus=>true, :class=>'form-control input-lg' %>
			</div>
		</div>		
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= p.text_field :LastName, :placeholder=>'Last Name', :required=> true, :autofocus=>true,:tabindex=>"3", :class=>'form-control input-lg' %>
			</div>
		</div>		
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<%= collection_select("customer","Country_id",@countries,:id,:name,{ :prompt=>'Select Country'},{:class=>"form-control input-lg",:tabindex=>"4",:required=>true})%>
			</div>
		</div>
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" name="txtPassword" type="password" tabindex="4" required="required"  placeholder="Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" name="txtConfirmPassword" type="password" tabindex="5" required="required"  placeholder="Confirm Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-7 col-lg-offset-7 col-md-3 col-lg-3">
				<button type="submit" name="butSignUp" tabindex="6" class="form-control btn btn-primary input-lg">Sign Up</button>
			</div>
		</div>	
	</div>
	<% end %>
	<!-- second column -->
	<%= form_tag("/session", method: 'post') do  %>
	<div class="col-md-6 col-lg-6">
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" name="UserName" tabindex="7" type="text" required="required"  placeholder="User Name">
			</div>	
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
				<input class="form-control input-lg" name="Password" type="password" tabindex="8" required="required"  placeholder="Password">
			</div>
		</div>	
		<div class="row padding1em">
			<div class="col-md-offset-7 col-lg-offset-7 col-md-3 col-lg-3">
				<button type="submit" name="butSignin" tabindex="8" class="form-control btn btn-primary input-lg">Sign In</button>
			</div>
		</div>
	</div>
<% end %>
</div>

