<%= form_tag({:controller => 'carts',:action => "checkout"},:method=>:post) do %>
<div class="row padding7em">
	<div class="container">
		<h2>Your Order</h2><br /><br />
		<div class="row">
			<div class="col-md-offset-10 col-lg-offset-10 col-md-2 col-lg-2">
				<h3>Invoice To:</h3>
			</div>
			<div class="col-md-offset-10 col-lg-offset-10 col-md-2 col-lg-2">
				<h4><%=@customer.FirstName + ' ' + @customer.LastName%></h4>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<col width="20%">
				<tr>
					<td>Item Description</td>
					<td>Quantity</td>
					<td>Price</td>
					<td>Delivery Time</td>
					<td>Amount</td>
				</tr>
			</thead>
			<tbody>
				<% @cart.cartlineitems.each do |p| %>
				<tr>
					<td>
						 <div class="thumbnail">
	            			<img src="<%= p.product.imageurl%>" alt="">
	            			<div class="caption">
	            				<h5><%= p.product.description%></h5>
	            			</div>
	            		</div>
					</td>
					<td><%= p.quantity %></td>
					<td><%= p.product.currency.code %> <%= number_to_currency(p.price,unit: ' ')%></td>
					<td><%= p.product.deliveryterms%></td>
					<td><%= p.amount%></td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">Total:</td>
					<td><%=@totalamount%></td>
				</tr>
			</tfoot>	
		</table>	
	</div>
</div>
<div class="row text-center">
	<%= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), carts_express_path) %>
</div>
<% end %>
