<script>
  $(document).ready(function()
  {
  	$("#products").validate({
		debug: true,
		rules: 
		{
			txtImei: {required: true,
							minlength: 15}
		},
		messages: {
		txtImei: {
							required: "Please enter a valid IMEI",
							minlength: "IMEI length must be minimum 15 characters"
				}
		},
		submitHandler : function(form)
		{
			form.submit();
		},
		// the errorPlacement has to take the table layout into account
			errorPlacement: function(error, element) {
				if (element.is(":radio"))
					error.appendTo(element.parent().next().next());
				else if (element.is(":checkbox"))
					error.appendTo(element.next());
				else
					error.appendTo(element.parent());
					//error.appendTo(element.parent().next());
			},
		success: function(label) {
				// set &nbsp; as text for IE
				label.html("&nbsp;").addClass("checked");
			},
			highlight: function(element, errorClass) {
				//alert('highlight');
				//$(element).parent().next().find("." + errorClass).removeClass("checked");
				$(element).parent().find("." + errorClass).removeClass("checked");
			}
			
	});
	
	});
</script>
  

<div class="row">
    <div class="col-lg-2 col-md-2">
    	<h3>Add Product:</h3>
    </div>
    <div class="col-lg-offset-9 col-md-offset-9 col-lg-1 col-md-1">
    	<div id="cart">
    		<div id="cartnumber">0</div>
    	</div>
    </div>
</div>

<%= form_tag({:controller => 'products',:action => "create",:method=>"post"},:id=>"products") do %>
	<div class="row text-center">
	    <div class="col-md-12 col-sm-12 hero-feature">
	        <div class="thumbnail">
	            <img src="<%=@product.imageurl%>" alt="">
	            <div class="caption">
	            	<h3><%= @product.description%></h3>
	                <h1><%= @product.currency.code %> <%= number_to_currency(@product.price,unit: ' ')%></h1>
	                <h3>Delivery in <%= @product.deliveryterms %> *</h3>
	                <p>*If we receive your order before 12 pm</p>                
		            <!-- <span class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6"> -->
		            <div>
						<input class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 input-lg" name="txtImei" id="txtImei" type="text" required="required"  placeholder="Enter IMEI">
					</div>
					<span></span>
					<div class="clearfix"></div>
					<div>
						<%= hidden_field_tag "product_id", @product.id%>
						<%= hidden_field_tag "price", @product.price%>
					</div>

					<div class="row">
						<button type="submit" name="cmdPayNow"  class="btn btn-primary input-lg">Add Cart & Checkout</button>
						<button type="submit" name="cmdContinue" class="btn btn-primary input-lg">Add Cart & Continue Shopping</button>
					</div>

					
		            <!-- </span> -->
	            </div>
	        </div>
	    </div>
	</div>
<% end %>
<div class="row">
    <div class="col-lg-12">
        <h3>Other similar products:</h3>
    </div>
</div>